body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8c0c0;
  color: white;
}

/* unvisited link */
a:link {
  color: #b5595e;
}

/* visited link */
a:visited {
  color: #b5595e;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: grey;
}

.container>img {
  width: 250px;
}

.title-header {
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.title-subhead {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .section-header {
    font-size: 30px;
    text-align: center;
    border-bottom: 5px dotted white;
    margin-bottom: 15px;
  }

  .title-header {
    font-size: 50px;
    font-weight: 500;
  }

  .title-subhead {
    font-size: 40px;
    font-weight: 300;
    margin-top: 5px;
  }

  canvas {
    right: 25px !important;
    position: absolute;
    top: -40px;
    width: 20%;
    height: 20%;
    background: #f8c0c0;
  }
}

@media screen and (min-width: 480px) {
  .section-header {
    font-size: 30px;
    text-align: right;
    border-right: 5px dotted white;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.options-row-home {
  margin-top: 23%;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  text-align: center;

}

.options-row {
  margin-top: 5%;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  text-align: center;

}

.home-link {}

.underline-container {
  /* margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center; */
}

.underline-animation {
  /* display: table-cell; 
  position: relative; 
  padding: 15px 0; */
}

.underline {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 0.05em;
  display: inline-block;
  position: relative;
  
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.selected-underline:hover:after {
  width: 100%;
  left: 0;
}

.selected-underline {
  color: #b5595e !important;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 0.05em;
  display: inline-block;
  position: relative;
}

.selected-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #b5595e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  width: 100%;
  left: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

.about-text {
  margin-top: 5%;
  font-size: 30px;
  font-weight: 400;
}

.circle {
  width: 50%;
  clip-path: circle(50% at 50% 50%);
}

.profile-name {
  font-size: 30px;
}

.profile-title {
  font-size: 20px;
}

.profile-social {
  font-size: 25px;
}

